<div class="login-page">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Login" class="tab">
            <div class="loginForm">
                <form class="example-form" [formGroup]="loginFormGroup">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username" placeholder="">
                        <mat-error *ngIf="loginFormGroup.controls.username.hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="">
                        
                            <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="loginFormGroup.invalid" (click)="loginSubmit()" class="center">Login</button>
                        </form>
                        
                        </div>
                        </mat-tab>
                        
                        <mat-tab label="Sign Up" class="tab">
                            <div class="signUpForm">
                                <form class="example-form" [formGroup]="signUpFormGroup">
                                    <mat-form-field class="example-full-width w-50">
                                        <mat-label>First Name</mat-label>
                                        <input type="text" matInput formControlName="firstName" placeholder="Ex. abc123">
                        
                                        <mat-error *ngIf="signUpFormGroup.controls.firstName.hasError('required')">
                                            First Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                        
                                    <mat-form-field class="example-full-width w-50">
                                        <mat-label>Last Name</mat-label>
                                        <input type="text" matInput formControlName="lastName" placeholder="Ex. abc123">
                        
                                        <mat-error *ngIf="signUpFormGroup.controls.lastName.hasError('required')">
                                            Second Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput formControlName="email" placeholder="Ex. abc123">
                                    
                                        <mat-error *ngIf="signUpFormGroup.controls.email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                        <mat-form-field class="example-full-width w-50">
                            <mat-label>Phone Number:</mat-label>
                            <input type="text" matInput formControlName="phoneNo" placeholder="Ex. abc123">
                        
                            <mat-error *ngIf="signUpFormGroup.controls.phoneNo.hasError('required')">
                                Phone Number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width w-50">
                            <mat-label>Login As:</mat-label>
                            <input type="text" matInput formControlName="role" placeholder="Ex. abc123">
                        
                            <mat-error *ngIf="signUpFormGroup.controls.role.hasError('required')">
                                Role is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        
                        <!-- <mat-form-field class="example-full-width w-50">
                                                                            <mat-label>City</mat-label>
                                                                            <input type="address" matInput formControlName="city" placeholder="Ex. Abc@123">
                                                                        
                                                                            <mat-error *ngIf="signUpFormGroup.controls.city.hasError('required')">
                                                                                City is <strong>required</strong>
                                                                            </mat-error>
                                                                        </mat-form-field> -->
                        
                        <!-- <mat-form-field class="example-full-width w-50">
                                                                            <mat-label>State</mat-label>
                                                                            <input type="address" matInput formControlName="state" placeholder="Ex. Abc@123">
                                                                        
                                                                            <mat-error *ngIf="signUpFormGroup.controls.state.hasError('required')">
                                                                                State is <strong>required</strong>
                                                                            </mat-error>
                                                                        </mat-form-field> -->
                        
                        <!-- <mat-form-field appearance="fill">
                                                                            <mat-label>Country</mat-label>
                                                                            <mat-select>
                                                                                <mat-option *ngFor="let country of countries" [value]="country" formControlName="country" ngDefaultControl>
                                                                                    {{country}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                            <mat-error *ngIf="signUpFormGroup.controls.country.hasError('required')">
                                                                                Country is <strong>required</strong>
                                                                            </mat-error>
                                                                        </mat-form-field> -->

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="signupPassword" placeholder="Ex. Abc@123">
        
        <mat-error *ngIf="signUpFormGroup.controls.signupPassword.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        </mat-form-field>
<button mat-raised-button color="primary" [disabled]="signUpFormGroup.invalid" (click)="signupSubmit()">Sign Up</button>
                </form>
                
                </div>
                </mat-tab>
        </mat-tab-group>
</div>