.mat-tab-group {
    margin-bottom: 48px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-top: 2rem;
      text-align: center;
  }
  
  .example-full-width {
    width: 100%;
  }

  .w-50 {
      width: 50%;
  }

  .login-page {
      padding: 1rem;
  }

  .example-spacer {
      flex: 1 1 auto;
  }
.center {
  text-align: center;
}