<app-header></app-header>

<!-- <mat-grid-list cols="4" rowHeight="100px">

    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
        [style.background]="tile.color">{{tile.text}}</mat-grid-tile>

</mat-grid-list> -->

<div class="contact-details-container">

    <div class="contact-tile">
        <h2>Ambulance</h2>
        <p>Phone Number: 101</p>
        <p>Name of contact person: ABC</p>
    </div>


    <div class="contact-tile">
        <h2>Police</h2>
        <p>Phone Number: 100</p>
        <p>Name of contact person: ABC</p>
    </div>

    <div class="contact-tile">
        <h2>Fire Brigade</h2>
        <p>Phone Number: 102</p>
        <p>Name of contact person: ABC</p>
    </div>

    <div class="contact-tile">
        <h2>Resque Team</h2>
        <p>Phone Number: 687981709803</p>
        <p>Name of contact person: ABC</p>
    </div>

    <div class="contact-tile">
        <h2>Food & Utilities Team</h2>
        <p>Phone Number: 687981709803</p>
        <p>Name of contact person: ABC</p>
    </div>

    <div class="contact-tile">
        <h2>Local Community Team</h2>
        <p>Phone Number: 687981709803</p>
        <p>Name of contact person: ABC</p>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="back()">Back</button>
    </div>

</div>